{% extends "layout.html" %}
{% block content %}
    <div class='main-container'>
        <div class="info">
            <h1> Dennis Domingo's  MyStore Demo</h1>
            
        </div>
        <ul class="integration-list">
            <li class="integration-list-item">
                <a class="integration-list-item-link" href="{{ url_for('cart', integration="dropin") }}">
                    <div class="title-container">
                        <p class="integration-list-item-title">Drop-in</p>
                    </div>
                </a>
            </li>
        

        </ul>
    </div>
{% endblock %}